@use '../abstract/variables' as vars;

.card {
    background-color: vars.$color-background;
    border-radius: vars.$border-radius-md;
    box-shadow: vars.$shadow-md;
    overflow: hidden;
    border: 1px solid vars.$color-border;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: vars.$spacing-md !important;

    .card-title {
        display: flex;
        justify-content: center;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: vars.$shadow-lg;
        border-color: vars.$color-primary;
    }
}

.card-header {
    padding: vars.$spacing-md vars.$spacing-lg;
    border-bottom: 1px solid vars.$color-section-background;
    display: flex;
    justify-content: center;
}

.card-body {
    padding: vars.$spacing-lg;
}

.card-footer {
    padding: vars.$spacing-md vars.$spacing-lg;
    border-top: 1px solid vars.$color-section-background;
}
