@use '../../abstract/variables' as vars;

.player-card {

}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vars.$spacing-sm;
    padding: vars.$spacing-sm;
    justify-items: center;
}

.stat-child {
    //justify-self: center;
    text-align: center;
}
